html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* ERICS WORK */
.wrapper {
   max-width: 1140px;
   width: 90%;
   margin: 0 auto;
}

/* HEADER */
header h1 {
   padding-top: 20px;
}
header h2 {
   border-top: 1.5px solid black;
   border-bottom: 3px solid black;
   text-align: center;
   background-color: gray;
}
.search  {
   position:relative;
   left: 5%;
   border: 3px solid black;
}

/* USER FORM */
.userForm {
width: 400px;
margin-top: 5%;
background-color: lightgrey;
padding: 15px;
border-radius: 5%;
margin-left: 10px;
}
.userForm h3 {
   text-align: center;
}
.logInForm {
   display: flex;
   flex-direction: column;
}
fieldset {
   margin-bottom: 10px;
}
.logInForm input {
   text-align: center;
   padding: 10px 0;
}
.logInForm button {
   width: 30%;
   margin: 0 auto;
   margin-top: 10px;
}
.createListForm {
   display: flex;
   flex-direction: column;
}
.createListForm button {
   width: 30%;
}
.activeListItem {
   display: flex;
}
.activeListItem div {
   width: 70%;
   font-weight: bold;
}
.activeListItem img {
   width: 30%;
   height: 50px;
   align-self: center;
}
li.activeListItem> div:nth-child(1) > p:nth-child(2) {
margin-top: 0px;
}
li.activeListItem> div:nth-child(1) > p:nth-child(1) {
margin-bottom: 5px;
}
.allListForm h4 {
   margin-bottom: 5px;
}


/* SAIFS WORK */
body,
html {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 450px;
  box-shadow: #97dae8 5px 10px;
  position: relative;
  top: 10%;
}
.flex-container {
  display: flex;
  padding: 15px;
  width: 600px;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.text-container {
  padding: 25px;
  width: 250px;
  text-align: center;
  font-size: 20px;
}

i {
  position: relative;
  right: 5%;
  color: #97dae8;
  font-size: 25px;
}

.venue {
  /* font-size: 20px; */
}

.eventName {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  letter-spacing: -2px;
}

.searchResult {
  display: flex;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 15px 20px;
  display: inline-block;
  /* margin: 15px 30px; */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn::before {
  text-transform: none;
  line-height: 1;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn-2 {
  background: #97dae8;
  color: #12626e;
  box-shadow: 0 7px #6e9fa8;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn-2a:active {
  box-shadow: 0 0 #6e9fa8;
  top: 6px;
}

.btn-2g {
  border-radius: 40px;
}

.btn-2g:hover {
  box-shadow: 0 4px #6e9fa8;
  top: 2px;
}

.btn-2g:active {
  box-shadow: 0 0 #6e9fa8;
  top: 6px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ol {
  border: 2px solid #6e9fa8;
  border-radius: 25px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

/* #DBF0EF #97DAE8 #C0C8F0 */

.watchList {
  border: 1px solid #12626e;
  background-color: #97dae8;
  border-radius: 5px;
  padding: 2px;
  max-width: 170px;
  height: 65px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.yourWatchlist {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.watchListItem {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.removeButton {
  position: relative;
  left: 5%;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  /* padding: 2px; */
  border: 1px solid #12626e;
  border-radius: 50px;
  background-color: #12626e;
}

.removeButton:hover {
    color: #97dae8;
}